{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
      "@angular-eslint/eslint-plugin",
      "@typescript-eslint",
      "@typescript-eslint/tslint"
  ],
  "rules": {
    "brace-style": "off",
    "@typescript-eslint/brace-style": [
        "error",
        "allman"
    ],
    "@typescript-eslint/object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      "never"
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "enumMember",
        "format": null
      }
    ],
    "@typescript-eslint/keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "@angular-eslint/component-class-suffix": "error",
    "@angular-eslint/component-selector": [
        "error",
      {
        "type": "element",
        "prefix": "app",
        "style": "kebab-case"
      }
    ],
    "@angular-eslint/directive-class-suffix": "error",
    "@angular-eslint/directive-selector": [
        "error",
      {
        "type": "attribute",
        "prefix": "app",
        "style": "camelCase"
      }
    ],
    "@angular-eslint/no-input-rename": "error",
    "@angular-eslint/no-output-rename": "error",
    "@angular-eslint/use-pipe-transform-interface": "error",
    "@typescript-eslint/consistent-type-definitions": "error",
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/explicit-member-accessibility": [
        "off",
      {
        "accessibility": "explicit"
      }
    ],
    "@typescript-eslint/member-delimiter-style": [
        "off",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/no-inferrable-types": [
        "error",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-shadow": [
        "error",
      {
        "hoist": "all"
      }
    ],
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/quotes": [
        "error",
        "single"
    ],
    "@typescript-eslint/semi": [
        "off",
        null
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/unified-signatures": "error",
    "curly": "error",
    "dot-notation": "off",
    "eol-last": "error",
    "eqeqeq": [
        "error",
        "smart"
    ],
    "guard-for-in": "error",
    "id-denylist": "off",
    "id-match": "off",
    "indent": "off",
    "max-len": [
        "off",
      {
        "code": 250
      }
    ],
    "no-bitwise": "off",
    "no-caller": "error",
    "no-console": [
        "error",
      {
        "allow": [
            "log",
            "warn",
            "dir",
            "timeLog",
            "assert",
            "clear",
            "count",
            "countReset",
            "group",
            "groupEnd",
            "table",
            "dirxml",
            "error",
            "groupCollapsed",
            "Console",
            "profile",
            "profileEnd",
            "timeStamp",
            "context"
        ]
      }
    ],
    "no-debugger": "error",
    "no-empty": "off",
    "no-empty-function": "off",
    "no-eval": "error",
    "no-fallthrough": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-shadow": "off",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-use-before-define": "error",
    "no-var": "error",
    "prefer-const": "error",
    "quotes": ["off"],
    "radix": "error",
    "semi": "off",
    "spaced-comment": [
        "error",
        "always",
      {
        "markers": [
            "/"
        ]
      }
    ],
    "valid-typeof": "error",
    "@typescript-eslint/tslint/config": [
        "error",
      {
        "rules": {
          "brace-style": [
              true,
              "allman",
            {
              "allowSingleLine": true
            }
          ],
          "import-spacing": true,
          "invoke-injectable": true,
          "no-access-missing-member": true,
          "templates-use-public": true,
          "typedef": [
              true,
              "call-signature"
          ],
          "use-host-property-decorator": true,
          "use-input-property-decorator": true,
          "use-life-cycle-interface": true,
          "use-output-property-decorator": true,
          "whitespace": [
              true,
              "check-branch",
              "check-decl",
              "check-operator",
              "check-separator",
              "check-type"
          ]
        }
      }
    ]
  }
}
