tsconfig.json
tslint.json
.travis.yml
lib/
.idea/
tools/
docs/
dist/tests/
testing/
.npmignore
.gitignore
localDeploy.js
caspertech-node-metaverse-*.tgz
dist/classes/cache
examples/loginParameters.json
examples/loginParameters.json.*
dist/lib/classes/cache
